

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.reddish-orang{
    color: #E95A08;
}
.second-colour-and-size{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}


.bold-text{
    font-weight: 700;
}
.b3{
    color: #8987A1;
}
.nav-sec{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin:30px  auto;
}
.menu-items{
    display: flex;
    gap: 48px;
    list-style: none;
    /* border: 2px solid red; */
    
}
.menu-items a{
    text-decoration: none;
}
.cart img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.gray{
    color: #8987A1;
}
/* banner section */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 120px auto;
}
.banner div{
     width: 100%;
     border: 2px solid blue;
}
.banner-img{
    border: 2px solid red;
    max-width: 100%;
}
.banner-header{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0px;
}

/* plant section */

.plant-section{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}
.plant-section-titel{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0px;
}
.plant-section-description{
    padding: 0px 126px;
    margin-top: 22px;
}
.card img{
    width: 100%;
}
.flower-name{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0px;
}
.flower-price{
    font-weight: 700;
    font-size: 22px;
    margin-top: 2px;
}

.card button{
    background-color: #E95A08;
    color: white;
    width: 100%;
    height: 50px;
    border: none;
}
.card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
/* Trusted Plant Lover Badge */

.badge{
    position: absolute;
    max-width: 256px;
    margin-left: 373px;
    margin-top: -143px;
}
.parental{
    position: relative;
}

/* Flower and plant lover section */
.store{
    display: flex;
    gap: 60px;
    max-width: 71.25rem;
    margin: 226px auto;
}

.store h4{
    font-weight: 700;
    font-size: 50px;
}
.store li{
    margin-bottom: 20px;
}

/* mobile section */
@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .nav-icon{
        max-width: 63px;
    }
    
    /* banner section */
    .banner{
        flex-direction: column-reverse;
        margin: 0px;
    }
    .banner-header{
    width: 700;
    font-size: 25px;
    margin-bottom: 0px;
   }
    .banner-text{
        font-size: 20px;
    }
    /* plant section */

    .plant-section-description{
        padding: 0px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    /* Flower and plant lover section */
    .badge{
        display: none;

    }
    .store{
        flex-direction: column;
        margin-top: 41px;
    }
    .store h4{
        margin-top: 0px;
        font-size: 24px;

    }
    .store-dis{
        font-size: 14px;
    }
    .store-image{
        max-width: 100%;
    }
} 
